[defaults]
host_key_checking = False
remote_user = awx
inventory = /home/awx/ansible/inventory
roles_path = /home/awx/ansible/roles:/usr/share/ansible/roles
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False


[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no

